body {
    background-color: #f0f0f0;
  }
  h2 {
    color: red;
    font-family: Arial, sans-serif;
  }
  
  .card-title {
    color: blue;
    font-size: 20px;
  }
  
  .list-group-item {
    font-size: 18px;
  }
  
  .card-body {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  .container-fluid {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .list-group-item {
    background-color: #f8f9fa;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .list-group-item:hover {
    background-color: #e9ecef;
    cursor: pointer;
  }
  