.title {
    margin-top: 10px;
}

.mylink {
    margin-top: 5px;
    height: auto;
    width: auto;
}

.logo {

    transition: transform 0.2s ease-in-out;
}

.logo:hover {
    transform: rotate(5deg);
}

.navbar {
    background-image: linear-gradient(to bottom, #007bff, #0044ff);
}

.navbar-nav .nav-link {
    font-size: 18px;
    padding: 0 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #007bff;
    font-weight: bold;
    border-radius: 5px;
}

